header {
    display: flex;
    flex-direction: column;
    border-bottom: solid 3px black;
    color: black;
    text-align: right;
    padding: 32px;
}

header .head {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .logo {
    height: 45px;
    width: 45px;
}

header h1 {
    padding-left: 32px;
}